* {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    justify-content: auto;

}


.grid-container {
    padding-top: 0px;
    margin: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    font-size: 18px;
    color: #2a6592;

}


.service_card {
    /* margin: 0 auto;  */
    margin: 8px;
    float: none; 
    margin-bottom: auto; 
    border-style: solid;
    border-width: thick;
    padding: 120px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    height: 100px;
} 



.service_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  }



.card_header {
    color: #2a6592;
    font-size: 20px;
    border-bottom: solid;
}

