* {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    justify-content: auto;

}


.grid-container-services {
    padding-top: 0px;
    margin: 8px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    font-size: 18px;
    color: #2a6592;

}

.service-card-container {
    margin: 0 auto; 
    float: none; 
    margin-bottom: auto; 
    padding-top: 0px;
    padding-bottom: 150px;
    width: 70%;
    height: 100px;
} 

 .content {
    padding-top: 0px;
    padding-bottom: 0px;
}  


/* .service_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  } */

  .service_card_phone_number{
    font-style: italic;
  }


 .service_card_header {
    font-weight: bold;
    color: #2a6592;
    font-size: 20px;
    border-bottom: solid;
}

