.App {
  text-align: center;
  background-color: #282c34;
  color:#20B2AA;
  padding: 50px;
}
/* .divider {
  background-color: #61dafb;
} */

/* .MainHeader {
  padding-bottom: 25px;
} */


/* color:#61dafb;
color:#40E0D0; */
/* 
color: #90EE90; */

/* background-color: #282c34;
  color: #90EE90; */