* {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    justify-content: auto;

}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    /* padding: 30px; */
    color: #2a6592;

}

.category_card {
    border-style: solid;
    padding: 60px 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
} 

.category_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    
}

.card_header {
    color: #2a6592;
    font-size: 20px;
    border-bottom: solid;
}




/* color: #20B2AA; */
