* {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    justify-content: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding: 30px;
    color: #90EE90;
}


/* color: #20B2AA; */
